{% extends "base.html" %}

{% block content1 %}
<div class="row mt-3">
  <div class="col-12">
<table class="table table-hover" border="1">
  <thead>
    <tr>
      <th scope="col">Reg No.</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Email</th>
      <th scope="col">Department</th>
      <th scope="col">Date</th>
      <th scope="col">Actions</th>

    </tr>
  </thead>
  <tbody>
{% for item in data %}
<tr>
      <td>{{item.regno}}</td>
      <td>{{item.fname}}</td>
      <td>{{item.lname}}</td>
      <td>{{item.email}}</td>
      <td>{{item.branch}}</td>
      <td>{{item.register_date|date:"Y/m/d"}}</td>
      <td>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#viewModal{{item.id}}"><i class="fa-solid fa-circle-info"></i> View</button>
        <!-- Button trigger modal -->
<!-- Modal -->
<div class="modal fade" id="viewModal{{item.id}}" tabindex="-1" aria-labelledby="viewModalLabel{{item.id}}" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="viewModalLabel{{item.id}}">Student : {{item.fname}} {{item.lname}}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <ul>
          <li><strong>Registration no : </strong>{{item.regno}}</li>
          <li><strong>Student First Name : </strong>{{item.fname}}</li>
          <li><strong>Student First Name : </strong>{{item.lname}}</li>
          <li><strong>Student Email :</strong> {{item.email}}</li>
          <li><strong>Student Department :</strong> {{item.branch}}</li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
        <a href="{% url "update" item.id %}"><button type="button" class="btn btn-warning"><i class="fa-solid fa-pen-to-square"></i> Update</button></a>
        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal{{item.id}}"><i class="fa-solid fa-trash"></i> Delete</button>
        <!-- Button trigger modal -->
<!-- Modal -->
<div class="modal fade" id="deleteModal{{item.id}}" tabindex="-1" aria-labelledby="deleteModalLabel{{item.id}}" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="deleteModalLabel{{item.id}}">Delete {{item.fname}} ?</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete this student..!
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
        <form action="{% url "delete" item.id %}" method="post">
          {% csrf_token %}
          <input type="submit" value="Yes" class="btn btn-danger">
        </form>
      </div>
    </div>
  </div>
</div>
      </td>
    </tr>

{% endfor %}
  </tbody>
</table>
</div>
</div>

{% endblock content1 %}